
    <h1>Create a new list</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Back to main page", lists_path, class: "back-page"%>
    </div>
  </div>
